html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'regular-font';
	background: #f9f9f9;
	transition: 0.2s all;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

.flex__start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex__center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex__between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex__column {
	display: flex;
	flex-direction: column;
}


.page__flex {
	width: 1200px;
margin: auto;
height: auto;
}

@font-face {
	font-family: 'regular-font';
	src: url('./font/Heebo-Regular.ttf');
}

@font-face {
	font-family: 'bold-font';
	src: url('./font/Heebo-Bold.ttf');
}

@font-face {
	font-family: 'medium-font';
	src: url('./font/Heebo-Medium.ttf');
}

@font-face {
	font-family: 'light-font';
	src: url('./font/Heebo-Light.ttf');
}

h1,
h2,
h3,
h4,
h5,
p {
	line-height: normal;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.2);
	transition: 0.2s all;
}

button,
input,
textarea {
	outline: none;
}
input{
	border: 0px;
	font-size: 16px;
}
button {
	cursor: pointer;
}

.save__btn {
	background: #0091ff;
	color: white;
	font-size: 14px;
	font-family: 'medium-font';
	border: 0px;
}

.cancel__btn {
	background-color: rgba(0, 145, 255, 0.1);
	color: #0091ff;
	border: 0px;
	font-size: 14px;
	font-family: 'medium-font';
}

.employee__img {
	border-radius: 50%;
	border: 1px solid #0091ff;
	position: relative;
	overflow: hidden;

	img {
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		left: 50%;
		object-fit: cover;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		border-radius: 50%;
	}
}

.add__btn {
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	height: 35px;
	background: #0091ff;
	border: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: 'medium-font';
	font-size: 14px;
	cursor: pointer;

}

.actions {
	position: absolute;
	right: 10px;
	top: 10px;

	&__toggle {
		width: 30px;
		height: 30px;
		background: grey;
		border-radius: 50%;
		cursor: pointer;
		background: rgba(0, 145, 255, 0.15);
		transition: 0.2s all;

		svg {
			color: #0091ff;
		}


	}

	&__toggle:hover {
		background: rgba(0, 145, 255, 0.2);
	}

	&__list {

		position: absolute;
		right: 0px;
		top: 37px;
		box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px, rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
		background: white;
		width: 130px;
		opacity: 0;
		pointer-events: none;
		transition: 0.15s all;

		&__element {
			height: 30px;
			padding-left: 10px;
			font-size: 14px;
			transition: 0.2s all;
			cursor: pointer;
			font-family: 'regular-font';
		}

		&__element:hover {
			background: rgba(0, 0, 0, 0.05)
		}
	}
}


.loader__element {
	position: relative;

	figure {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		background: rgba(0, 0, 0, 0.07);
		animation: glow 3s linear forwards infinite;

	}
}

@keyframes glow {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0.6;
	}

	50% {
		opacity: 0.3;
	}

	75% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}

input::placeholder {
	transition: 0.2s all;
}

input:focus::placeholder {
	color: transparent;
}




.titles__section {
	margin-bottom: 10px;
	margin-top: 20px;
	padding-left: 10px;

	h3 {
		font-size: 15px;
		opacity: 0.8;
		color: #013a66;
		font-family: 'medium-font';
	}
}



.avatar__loader {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
	animation: glow 3s linear forwards infinite;
}

.system__file {
	box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px, rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
	margin-right: 5px;
	width: calc(100% / 3 - 5px);
	display: flex;
	align-items: flex-start;
	padding-left: 20px;
	padding-right: 10px;
	overflow: hidden;
	height: 30px;
	margin-bottom: 5px;
	display: inline-flex;
	transition: 0.2s all;
	border: 1px solid transparent;
	a {
		color: #013a66;
		width: 100%;
		text-decoration: none;
		height: 100%;
		display: flex;
		align-items: center;

		p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 90%;
		}
	}
	&:hover{
		background: rgba(0,0,0, 0.02);
		box-shadow: none;
		border: 1px solid rgba(1, 58, 102, 0.1);
	}

	&:nth-child(3n) {
		margin-right: 0px;

	}
}
.back__button{
	text-decoration: none;
	color: #013a66;
}


.rtl__body{
	direction: rtl;

	
	.rdw-dropdown-carettoclose,
	.rdw-dropdown-carettoopen{
		right: auto;
		left: 10%;
	}
	.public-DraftStyleDefault-block{
		direction: rtl!important;
	}
	.actions{
		right: auto;
		left: 10px;
		&__list{
			left: 0px;
			right: auto;
			.actions__list__element{
				padding-right: 10px;
			}
		}
	}
}



@media only screen and (max-width: 1200px) {
	.page__flex {
		left: 50%;
		width: calc(100% - 30px);
		transform: translate(-50%);
		position: relative;
		margin: 0px;
	}
}

@media only screen and (max-width: 550px){
	.system__file{
		width: calc(50% - 5px);
		margin-right: 10px;
		&:nth-child(2n){
			margin-right: 0px;
		}
	}
}

@media only screen and (max-width: 420px){
	.system__file{
		width: 100%;
		margin-right: 0px;
	}
}