.employees {
    transition: 0.2s all;
    position: relative;
  
  
    
    .titles__section {
        padding-left: 60px;
        margin-top: 0px;

        h3 {
            width: 120px;
        }

        h3:nth-child(1) {
            width: calc(100% - 492px);

        }
    }

    .employee__loader {
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
    }


    &__handle {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transition: 0.2s all;
z-index: 999999999;
      
        header{
            margin-bottom: 20px;
        }
        .overlay {
            opacity: 0;
            transition: 0.2s all;
        }

        .switch__component {

            figure {
                transform: scale(0.8);
            }
        }

        &__form {
            width: 60vw;
            max-width: 750px;
            min-width: 500px;
            height: 100%;
            background: white;
            position: absolute;
            left: 0%;
            transform: translate(-100%);
            top: 0px;
            padding: 20px;
            padding-bottom: 30px;
            transition: 0.2s all;
            -webkit-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.54);
            -moz-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.54);
            box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.54);

            &__close {
                position: absolute;
                background: transparent;
                right: 10px;
                top:10px;
                border: 0px;
                transition: 0.2s all;

                svg {
                    color: #013a66;
                    font-size: 35px;
                }
            }


            &__submit {
                margin-top: auto;
                justify-content: flex-end;
                height: 35px;
                position: absolute;
                bottom: 10px;

                >span {
                    height: 100%;
                }

                #loader {
                    left: auto;
                    transform: translate(0, -50%);
                    right: 40px;

                }

                button {
                    width: 100px;
                    height: 100%;
                    margin-right: 10px;
                    font-size: 14px;
                    border: 0px;


                }
            }

            &__info {
                display: flex;
                margin-top: 30px;
                flex-wrap: wrap;
                flex-direction: column;

                .text__input {
                    width: 100%;
                }

            }
        }
    }



    &__list::-webkit-scrollbar {
        display: none;
    }

    &__list {
        flex-wrap: wrap;
        color: #013a66;
        padding-bottom: 120px;

        &__employee:nth-child(4n) {
            margin-right: 0px;
        }

        &__employee {

            background-color: white;
            width: 100%;
            margin-bottom: 5px;
            height: 40px;
            position: relative;
            padding-left: 10px;
            border-radius: 4px;
            border: 1px solid rgba(1, 58, 102, 0.1);

            .actions {
                top: 50%;
                transform: translate(0, -50%);
                right: 10px;

            }

            .employees__list__employee__avatar {
                width: 30px;
                height: 30px;
                margin-bottom: 0px;
                margin-right: 20px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
            }

            &__name {
                width: calc(100% - 490px);
            }

            h3 {
                font-size: 16px;

            }

            &__stats {
                width: 360px;
                h3{
                    width: calc(100% / 3);
                }
            }



            &__avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;

                border: solid 1px #8859e7;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s all;
                }

                svg {
                    font-size: 18px;
                    color: #8859e7;
                }
            }

        }

        &__employee:nth-child(4n) {
            margin-right: 0px;
        }
    }
}



#employees__handle--active {

    .employees__handle__form {
        transform: translate(0%);
    }

    .overlay {

        opacity: 1;
    }
}

.rtl__body{
        .employees__handle__form{
            transform: translate(100%);
            left: auto;
            right: 0px;
            &__close{
                left: 10px;
                right: auto;
            }
        }
        .employees__handle .switch__component figure{
            transform: rotate(180deg) scale(0.8);
        }
        .employees__list__employee{
            padding-left: 0px;
            padding-right: 10px;
        }
        .employees__list__employee .actions{
            left: 10px;
            right: auto;
        }
        .employees__list__employee .employees__list__employee__avatar{
            margin-left: 20px;
            margin-right: 0px;
        }
        .employees .titles__section{
            padding-right: 60px;
            padding-left: 0px;
        }
}

@media only screen and (max-width: 1150px) {
    .employees .titles__section h3:nth-child(1){
        width: calc(100% - 382px);
    }
    .employees__list__employee__name{
        width: calc(100% - 380px);
    }
}

@media only screen and (max-width: 700px) {
    .employees .titles__section{
        display: none;
    }
    .employees__list{
       
    }
    .employees__list__employee__stats{
        display: none;
    }
    #employee__mobile__stats{
        display: flex!important;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-top: 1px solid rgba(1, 58, 102, 0.1);
        padding-top: 10px;
        span{
            text-align: center;
            h5{
                font-family: 'medium-font';
            }
            h3{
               width: 100%;
            }
            &:nth-child(2){
                transform: translate(-12px);
            }
        }
    }
    .employees__list__employee {
            flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 15px;
        padding-left: 25px!important;
        padding-right: 25px!important;
        flex-wrap: wrap;
        &__name{
            width: 100%;
            flex-direction: column;
         
        }
      
        &__stats{
            width: 100%;
        }
    }
  
    .employees__list__employee .employees__list__employee__avatar{
        width: 50px;
        margin-right: 0px;
        margin-bottom: 10px;
        height: 50px;
        svg{
            font-size: 27px;
        }
    }
    .rtl__body .employees__list__employee__avatar{
        margin-left: 0px!important;
    }
    .rtl__body{
        #employee__mobile__stats span:nth-child(2){
            transform: translate(5px);
        }
    }
    .employees__list__employee .actions {
        transform: none;
        top: 10px;
    }



    .employees__list__employee .employees__list__employee__info {
        width: 100%;
        justify-content: space-between;
    }

    .employees__list__employee .employees__list__employee__info span {
        margin-right: 0px;
    }
    .employees__handle{
        min-height: 100vh;
      
        height: auto;
        overflow: auto;
            &__form{
                padding-bottom: 100px;
                height: 100vh;
                overflow: auto;
                position: static;
                   
                &__info{
                    flex-direction: column;
                    flex-wrap: nowrap;
                    margin-bottom: 30px;
                }       
            }
    }
 
}

@media only screen and (max-width: 550px){
    .employees__handle__form{
       width: 100vw;
        min-width: 0px;
    }
}