.employees {
    width: 100%;
    margin: auto;
    height: 100%;
    padding-top: 30px;
    transition: 0.2s all;

    .titles__section {
        padding-left: 60px;

        h3 {
            width: 120px;
        }

        h3:nth-child(1) {
            width: 430px;

        }
    }

    .employee__loader {
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
    }

    &__header {
        height: 35px;
        
    }

    &__handle {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transition: 0.2s all;

        z-index: 10;

        .overlay {
            opacity: 0;
            transition: 0.2s all;
        }

        .switch__component {

            figure {
                transform: scale(0.8);
            }
        }

        &__form {
            width: 60vw;
            max-width: 700px;
            height: 100%;
            background: white;
            position: absolute;
            left: 0%;
            transform: translate(-100%);
            top: 0px;
            padding: 20px;
            padding-bottom: 30px;
            transition: 0.2s all;
            -webkit-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.54);
            -moz-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.54);
            box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.54);

            &__close {
                position: absolute;
                background: transparent;
                right: 10px;
                top:10px;
                border: 0px;
                transition: 0.2s all;

                svg {
                    color: #013a66;
                    font-size: 35px;
                }
            }

            >header {
                margin-bottom: 20px;

                h2 {
                    font-size: 18px;
                    color: #013a66;
                    font-family: 'medium-font';
                }
            }

            &__submit {
                margin-top: auto;
                justify-content: flex-end;
                height: 35px;
                position: absolute;
                bottom: 10px;

                >span {
                    height: 100%;
                }

                #loader {
                    left: auto;
                    transform: translate(0, -50%);
                    right: 40px;

                }

                button {
                    width: 100px;
                    height: 100%;
                    margin-right: 10px;
                    font-size: 14px;
                    border: 0px;


                }
            }

            &__info {
                display: flex;
                margin-top: 30px;
                flex-wrap: wrap;
                flex-direction: column;

                .text__input {
                    width: 100%;
                }

            }
        }
    }



    &__list::-webkit-scrollbar {
        display: none;
    }

    &__list {
        margin-top: 0px;
        flex-wrap: wrap;
        color: #013a66;
        max-height: calc(100% - 100px);
        overflow-y: auto;
        padding-bottom: 120px;

        &__employee:nth-child(4n) {
            margin-right: 0px;
        }

        &__employee {

            background-color: white;
            width: 100%;
            margin-bottom: 5px;
            height: 40px;
            position: relative;
            padding-left: 10px;
            border-radius: 4px;
            border: 1px solid rgba(1, 58, 102, 0.1);

            .actions {
                top: 50%;
                transform: translate(0, -50%);
                right: 10px;

            }

            .employees__list__employee__avatar {
                width: 30px;
                height: 30px;
                margin-bottom: 0px;
                margin-right: 20px;
                position: relative;

            }

            >div:nth-child(1) {
                width: 480px;
            }

            h3 {
                font-size: 16px;

            }

            &__status {
                width: 120px;
            }



            &__avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;

                border: solid 1px #8859e7;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s all;
                }

                svg {
                    font-size: 18px;
                    color: #8859e7;
                }
            }

        }

        &__employee:nth-child(4n) {
            margin-right: 0px;
        }
    }
}



#employees__handle--active {

    .employees__handle__form {
        transform: translate(0%);
    }

    .overlay {

        opacity: 1;
    }
}

.rtl__body{
        .employees__handle__form{
            transform: translate(100%);
            left: auto;
            right: 0px;
            &__close{
                left: 10px;
                right: auto;
            }
        }
        .employees__handle .switch__component figure{
            transform: rotate(180deg) scale(0.8);
        }
        .employees__list__employee{
            padding-left: 0px;
            padding-right: 10px;
        }
        .employees__list__employee .actions{
            left: 10px;
            right: auto;
        }
        .employees__list__employee .employees__list__employee__avatar{
            margin-left: 20px;
            margin-right: 0px;
        }
        .employees .titles__section{
            padding-right: 60px;
            padding-left: 0px;
        }
}

@media only screen and (max-width: 1100px) {
    .employees__list__employee--row .employees__list__employee__info span {
        margin-right: 50px;
    }

    .employees__list__employee--row>div:nth-child(1) {
        width: 300px;
    }
    .employees__list__employee > div:nth-child(1){
        width: 400px;
    }
    .employees .titles__section h3:nth-child(1){
        width: 350px;
    }
}

@media only screen and (max-width: 700px) {
    .employees__list__employee {
        
        align-items: flex-start;
        height: auto;
        padding: 15px;
        flex-wrap: wrap;
    }
    .employees__list__employee > div:nth-child(1){
        width: 100%;
    }
    .employees__list__employee>div:nth-child(1) {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .employees__list__employee .actions {
        transform: none;
        top: 10px;
    }

    .employees__list__employee .employees__list__employee__avatar {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .employees__list__employee .employees__list__employee__info {
        width: 100%;
        justify-content: space-between;
    }

    .employees__list__employee .employees__list__employee__info span {
        margin-right: 0px;
    }

    .employees {
        padding-top: 20px;
    }
}