.navbar{
    position: fixed;
  left: 0px;
  height: 100vh;
  top: 0px;
  width: 50px;
  background:  #0091ff;
  z-index: 10;
 text-align: center;
    &__user__avatar{
        width: 40px;
        height: 40px;
       
        border: none;
        background: white;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        img{
            width: 100%;
            height: 100%;
        }
        svg{
            font-size: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color:#0091ff;
        }
    }
    &__logout__link{
        // position: absolute!important;
        // bottom: 10px;
        margin-bottom: 20px!important;
    }
  &__list{
      align-items: center;
      width: 100%;
      padding-top: 15px;
      height: calc(100vh - 110px);
   
      &__link{
        color: white;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         margin-bottom: 15px;
         transition: 0.2s all;
         position: relative;
         &:last-child{
             margin-top: auto;
         }
         svg{
             font-size: 26px;
         }
      }
      &__link:hover{
          background: rgba(255,255,255, 0.2);
          .smal__popup{
              opacity: 1;
          }
      }
      #logout__btn{
          margin-top: auto;
          background: transparent;
          border: 0px;
          padding: 0px;
          
      }
      #logout__btn:hover{
        background: rgba(255,255,255, 0.2);
      }
  }
}

#navbar__list__link--active{
    background: rgba(255,255,255, 0.2);
}
#navbar__second--active{
    transform: translate(100%);
}


.rtl__body{

    .navbar{
        left: auto;
        right: 0px;
    }
}


@media only screen and (max-width: 700px){
    .navbar{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        &__list{
            transform: translate(-100%);
            align-items: flex-start;
            transition: 0.2s all;
            padding: 0px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            width: 200px;
            position: fixed;
            height: calc(100% - 50px);
            top: 50px;
            background: #0091ff;
            &__link{
                width: 100%;
                border-radius: 4px;
                align-items: center;
                justify-content: flex-start;
                margin: 0px!important;
                margin-bottom: 20px!important;
                padding-left: 10px;
                text-decoration: none;
                .smal__popup{
                    position: static;
                    opacity: 1;
                    background: transparent;
                    height: 100%;
                    transform: none!important;
                    font-size: 14px;
                    aside{
                        display: none;
                    }
                }
            }
            &__mobile__placeholder{
               
                width: 100vw;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }
     
        .mobile__hamburger{
            display: block!important;
            margin-left: 15px;
            cursor: pointer;
            svg{
                color: white;
                font-size: 30px;
            }
        }
        #navbar__list--active{
            transform: translate(0px);
            .navbar__list__mobile__placeholder{
                display: block!important;
            }
        }
        &__logout__link{
            width: auto;
            margin: 0px 10px 0px 0px!important;
            position: static!important;
            .smal__popup{
                display: none;
            }
        }
        &__user__avatar{
            margin: 0px;
            margin-bottom: 0px;
            width: 35px;
            height: 35px;
            svg{
                font-size: 25px;
            }
        }
    }
}